@model CS361Financial.Models.StockGeneralInfo

@{
    ViewData["Title"] = "Stock Landing Page";
}

<div class="text-center">
    <h2 class="display-4">@Model.ticker: @Model.name</h2>
    <table>
        <tbody>
            @if (Model.value != 0)
            {
                <tr>
                    <td>Price: </td>
                    <td>$@Model.value</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    @if (!String.IsNullOrEmpty(Model.description))
    {
        <p>@Model.description</p>
    }
</div>
